@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

body {
    background: url('assets/bg.jpg ');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

/*
.main-container {
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
}
*/

/* Utilities: reusable utility class */
.regular-txt {
    font-weight: 400;
}

.main-container {
    width: 340px;
    height: 500px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
   /* border-radius: 16px;*/
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
}

/*  INPUT CONTAINER*/
.input-container {
    position: relative;
    margin-bottom: 25px;
}
.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    padding-right: 45px;
    font-weight: 500;
    transition: 0.25s border;
}
.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}
.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    display: flex;
    cursor: pointer;

}
/*  END INPUT CONTAINER */

/* City Info */
.city-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-cloud-img {
    width: 120px;
    height: 120px;
}

.weather-info {
    text-align: end;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
}
.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item i {
    font-size: 30px; 
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item {
    border-radius: 12px;
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    transition: 0.3s ;
}
.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}
.forecast-item-img {
    width: 35px;
    height: 35px;
}

.forecast-item-img {
    width: 35px;
    height: 35px;
}

/* Section Msg */
.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}
.section-message img {
    height: 180px;
    width: fit-content;
}

